@font-face {
  font-family: "CyrillicGoth";
  src: url("./assets/fonts/cyrillicgoth.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  background-color: #1a191f;
  overflow-y: hidden;
  height: 100vh;
}

.wrapper {
  /* position: relative; */
  width: 80%;
  max-width: 45rem;
  /* height: 100vh; */
  padding: 0 1.5rem;
  margin: auto auto;
  box-shadow: 0 0.125rem 0.5rem 0.125rem rgb(0 0 0 / 50%);
}
h1 {
  font-family: "CyrillicGoth";
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: #fff;
  letter-spacing: 0.06em;
  max-width: 40rem;
  margin: 1rem auto;
}
.slider {
  /* position: relative; */
  overflow: hidden;
  margin: 0 auto;
  max-width: 40rem;
}
.slider-items {
  width: 500%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.slider-item {
  width: 20%;
  transition: 0.5s;
  /* background-size: cover; */
}
.slider-item > img {
  display: block;
  width: 100%;
  height: auto;
}
.slider-content {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
}
input {
  /* position: absolute; */
  display: inline;
  visibility: hidden;
  width: 0;
  height: 0;
}
.slider-navigation {
  /* position: absolute; */
  /* bottom: 2rem; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* margin: 0.5rem; */
  /* gap: 1.5rem; */
}
label {
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slider-navigation-item {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;

  /* cursor: pointer; */
  background-color: #e44b43;
  border: solid #e44b43;
  transition: all 0.5s ease;
}
#r1:checked ~ .wrapper label[for="r1"] .slider-navigation-item,
#r2:checked ~ .wrapper label[for="r2"] .slider-navigation-item,
#r3:checked ~ .wrapper label[for="r3"] .slider-navigation-item,
#r4:checked ~ .wrapper label[for="r4"] .slider-navigation-item,
#r5:checked ~ .wrapper label[for="r5"] .slider-navigation-item {
  background-color: transparent;
}

.slider-navigation-item:hover {
  border: solid #ffffff;
  transform: scale(1.1);
  background-color: #ffffff;
}

.slider-navigation-item:active {
  transform: scale(0.9);
  border: solid #ffffff;
  background-color: #ffffff;
}
/* .slider-navigation-item:checked {
  background-color: transparent;
} */

#r1:checked ~ .wrapper .s1 {
  margin-left: 0;
}
#r2:checked ~ .wrapper .s1 {
  margin-left: -20%;
}
#r3:checked ~ .wrapper .s1 {
  margin-left: -40%;
}
#r4:checked ~ .wrapper .s1 {
  margin-left: -60%;
}
#r5:checked ~ .wrapper .s1 {
  margin-left: -80%;
}
.slider-descriptions-wrapper {
  overflow: hidden;
  max-width: 25rem;
}
.slider-descriptions {
  display: flex;
  align-items: center;

  width: 500%;
}
p {
  width: 20%;
  font-family: "CyrillicGoth";
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 0.06em;
  transition: all 0.5s ease;
  /* transform: scale(0); */
  opacity: 0;
  margin-left: 0;
}
.d2,
.d3,
.d4,
.d5 {
  margin-left: -20%;
}

#r1:checked ~ .wrapper .d1,
#r2:checked ~ .wrapper .d2,
#r3:checked ~ .wrapper .d3,
#r4:checked ~ .wrapper .d4,
#r5:checked ~ .wrapper .d5 {
  opacity: 1;
}

/* .footer-wrapper {
  max-width: 60%;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  max-height: 4rem;
  margin: 1rem;
}
.link-github,
span {
  display: block;
  text-decoration: none;
  font-family: "CyrillicGoth";
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.06em;
}
.link-rsschool {
  display: block;
  text-decoration: none;
  width: 7rem;
  height: 2rem;
  background-image: url(./assets/svg/rsschool.svg);
  background-size: contain;
  background-repeat: no-repeat;
} */
